
.idea/workspace.xml
.idea/php.xml
.idea/vcs.xml
.idea/QuizzFun.iml
.idea/modules.xml
.idea/discord.xml
.idea/dataSources.xml
.idea/sqldialects.xml

.idea/dataSources.xml
.idea/dataSources.xml
.idea/inspectionProfiles/Project_Default.xml
